.artist-bio-container {
    width: 100%;
    background-color: black;
    min-height: calc(100vh - 104px);
    color: white;
    margin-top: 100px;
    padding-bottom: 80px;

    .heading-text {
        font-size: 64px;
        line-height: 1.1;
        font-weight: normal;
    }

    .bio {
        display: flex;
        max-width: 1096px;
        margin: auto;
        justify-content: space-between;

        figure {
            width: 40%;
            margin: 0;

            .bio__img {
                max-width: 100%;
                height: auto;
            }
        }

        .bio__blurb {
            width: 40%;
            color: white;
            font-size: 24px;
            line-height: 1.5;

            .client-button {
                line-height: 14px;
                font-size: 10px;
                font-weight: 500;
                width: 113px;
                height: 35px;
                border: 1px solid white;
            }

            p {
                margin: 0;
                max-width: 457px;
                padding-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 1010px) {
    .artist-bio-container .bio {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bio__blurb {
            width: 100%;
            text-align: center;

            p {
                max-width: 90%;
                margin: auto;
                text-align: center;
                margin-top: 15px;
            }
        }
    }
}