.product-listing {
    height: 237px;
    width: 194px;
    font-size: 16px;
    box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin: 5px;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;

        &__img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    &__design, &__title {
        line-height: 1.2;
        font-weight: 500;
    }

    &__price {
        line-height: 1.4;
        font-weight: 700;
    }

    .box-padding {
        padding: 0 13px;
    }
}