.product-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;

    .boxes-row {
        display: flex;
        margin-bottom: 20px
    }

}

@media only screen and (max-width: 1010px) {
    .product-boxes .boxes-row {
        flex-direction: column;
        margin: 0;
    }
    
}