.table {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    color: #444;
    grid-gap: 10px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }