.header-container {
    width: 100%;
    min-height: 200px;
    background-color: #1d3f61;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nav-items {
        display: flex;
        color: white;
        li {
            padding: 0 5px;
        }
    }
}