.workshop-slider-container {
    margin-bottom: 200px;
    margin-top: 50px;

    .workshop-slider {
        max-height: 300px;
        max-width: 1080px;

        .workshop-slide {
            width: 260px;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 260px;
                max-height: 260px;
                width: auto;
                height: auto;
            }
        }

       .cNRLLS {
            margin: 0;
        }   
    }
}

.workshop-slider-container {
    .workshop-slide {
        width: 300px;
        max-height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30%;
        background-color: black;
    }
}
